* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  border: 0;
  list-style: none;
}

:root {
  --5C9FC5: #5c9fc5;
  --62869B: #62869b;
  --48B2F0: #48b2f0;
  --5A6870: #5a6870;
  --3A4146: #3a4146;
  --222D33: #222d33;
  --FFF: #fff;
  --000: #000;
}

#main {
  background: var(--FFF);
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main h1 {
  font-size: 20px;
  text-align: center;
}
